#signupForm {
  padding: 50px 0; }
  #signupForm .navbar-brand img {
    width: 70px;
    height: auto; }
  #signupForm .inputsForm {
    margin-top: 25px; }
    #signupForm .inputsForm .iti {
      width: 100%; }
  #signupForm h2 {
    color: #06083b;
    position: relative;
    padding-left: 30px; }
    #signupForm h2:before {
      position: absolute;
      content: "";
      width: 10px;
      top: 0;
      left: 0;
      bottom: 0;
      background: #db9a29; }
  #signupForm .formStart {
    background-color: #fff;
    padding: 40px; }
    #signupForm .formStart .form-control {
      border: 0.5px solid #bbb7b7; }
    #signupForm .formStart #register_form .text-danger {
      margin-bottom: 0px;
      font-size: 14px;
      color: red; }
    #signupForm .formStart #register_form label.error {
      font-size: 14px; }

#loginForm {
  padding: 50px 0; }
  #loginForm .loginFormSubmit {
    background-color: #fff; }
  #loginForm .inputsForm {
    margin-top: 25px; }
    #loginForm .inputsForm .checkButton {
      margin-top: 30px; }
    #loginForm .inputsForm .sinupForgot .loginForForgot {
      margin-top: 20px; }
      #loginForm .inputsForm .sinupForgot .loginForForgot span.fontDiff {
        color: #666; }
      #loginForm .inputsForm .sinupForgot .loginForForgot .signupLink {
        color: #db9a29;
        font-weight: 600; }
  #loginForm .formStart {
    padding: 30px; }
    #loginForm .formStart .navbar-brand img {
      width: 70px;
      height: auto; }
    #loginForm .formStart h2 {
      color: #06083b;
      position: relative;
      padding-left: 20px; }
      #loginForm .formStart h2:before {
        position: absolute;
        content: "";
        width: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        background: #db9a29; }
    #loginForm .formStart .forgotPassword {
      text-align: center; }
  #loginForm .loginImage {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: #db9a29;
    justify-content: center; }

#paymentForm {
  padding: 70px 0; }
  #paymentForm .loginFormSubmit {
    background-color: #fff; }
    #paymentForm .loginFormSubmit .textHeader h2 {
      color: #06083b;
      position: relative;
      padding-left: 20px; }
      #paymentForm .loginFormSubmit .textHeader h2:before {
        position: absolute;
        content: "";
        width: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        background: #db9a29; }

.numberBiling .numberRound {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1.5px solid black; }
.numberBiling .textItem h6 {
  line-height: 2; }

@media only screen and (min-width: 320px) and (max-width: 575px) {
  #signupForm .formStart {
    padding: 25px; }

  #signupForm .navbar-brand img {
    width: 40px;
    height: auto; }
  #signupForm h2 {
    font-size: 25px;
    padding-left: 20px; } }
@media only screen and (min-width: 320px) and (max-width: 991px) {
  #loginForm .formStart .inputsForm .forgotPassword {
    text-align: end; } }
@media only screen and (min-width: 991px) and (max-width: 1199px) {
  #loginForm .formStart .inputsForm .forgotPassword {
    text-align: end; } }

/*# sourceMappingURL=signup.css.map */
